.exp_title {
    padding-bottom: 5px;
    margin-bottom: 5px;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.3);
}

.plangs {
    list-style-type: none;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.plangs li{
    border-radius: 5px;
    padding: 4px 6px;
    gap: 4px;
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    transition: 0.3s ease;
    cursor: pointer;
    animation: 0.7s ease-out 1 slideInFromLeft;
}
.plangs li:hover {
    transform: translateY(-2px);
}

.plangs img {
    width: 20px;
    height: 20px;
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}