.contact {
    height: 350px;
    width: 240px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    transition: 0.5s ease;
}

.contact:hover {
    transform: translateY(-10px);
}

.contact img {
    width: 230px;
    height: 237px;
    background-size: cover;
    transition: 0.3s ease;
    opacity: 1;
}

.contact img:hover {
    opacity: 0.65;
}

.contact div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact div h3 {
    font-size: 25px;
    color: rgb(255,0,59);
    margin: 0;
}
.contact div p {
    font-size: 25px;
    color: #8f8e8e;
    margin: 0;
    text-align: center;
}