main {
    background-color: rgb(0, 0, 0, 0.85);
    max-width: 1200px;
    border-radius: 20px;
    color: #fff;
    display: flex;
    margin: 20px auto;
    box-shadow: 0 0 10px #fff;
    flex-wrap: wrap;
}

.leftPart {
    width: 420px;
    padding: 40px;
    box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.5);
    gap: 10px;
    display: flex;
    flex-direction: column;
}

.profile img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff;
    animation: 0.6s ease-out 1 slideInFromLeft;
    margin-bottom: 6px;
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}

@media screen and (max-width: 768px) {
    main{
        margin: 20px;
    }

    .leftPart {
        box-shadow: none;
    }
}