main {
    background-color: rgb(0, 0, 0, 0.9);
    max-width: 1200px;
    border-radius: 20px;
    color: #fff;
    display: flex;
    margin: 40px auto;
    box-shadow: 0 0 10px #fff;
}

.leftPart {
    padding: 40px;
    box-shadow: 1px 0 0 0 rgba(255, 255, 255, 0.2);
    gap: 10px;
    display: flex;
    flex-direction: column;
    max-width: 438px;
}

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.profile img {
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 10px #fff;
    margin-bottom: 6px;
    animation: 0.6s ease-out 1 slideInFromLeft;
}

.rightPart {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

section {
    animation: 0.8s ease-out 1 slideInFromLeft;
}

.rightPart h3 {
    text-shadow: 0 2px 10px #fff;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.contacts {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contacts_list {
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.contacts_list img {
    width: 40px;
    transition: 0.3s ease;
    fill: white;
}

.contacts img:hover {
    transform: scale(1.02) translateY(-2px);
    filter: drop-shadow(0 0 10px #fff);
}

@media screen and (max-width: 768px) {
    main{
        margin: 20px;
        flex-wrap: wrap;
    }

    .leftPart {
        box-shadow: none;
        padding: 20px;
    }
}


@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}