<div class="background">
  <div class="background-content">
    <div class="profile-content">
      <div class="avatar-content">
        <img class="avatar-img" src="https://avatars.githubusercontent.com/u/90260450?v=4" alt="avatar">
        <h1>NeckitWin</h1>
        <p class="description-profile">Full Stack Developer</p>
      </div>
      <div class="profile-info">
        <ul class="info">
          <li *ngFor="let experience of experiences">
            <span>{{ experience.key }}</span><span>{{ experience.value }}</span>
          </li>
        </ul>
      </div>
    </div>
    <div class="links-content" >
      <div class="links-background" *ngFor="let links of links">
        <a href="{{links.link}}" style="background-color:{{links.color}};" class="link" target="_blank"><img class="link-img" src="{{ links.icon }}" alt="icon">{{links.text}}</a>
      </div>
    </div>
  </div>
</div>
