.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/024/538/827/original/pixel-jeff-clipa-s.gif?1582740711");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background-content {
  width: 1500px;
  height: 750px;
  background-color: rgba(0, 0, 0, 0.9);
  border-radius: 50px;
  /*Сделай неоновые тени блоку*/
  box-shadow: 0 0 10px rgba(200, 0, 255, 0.5),
  0 0 20px rgba(200, 0, 255, 0.5),
  0 0 30px rgba(200, 0, 255, 0.5),
  0 0 40px rgba(200, 0, 255, 0.5),
  0 0 50px rgba(200, 0, 255, 0.5),
  0 0 60px rgba(200, 0, 255, 0.5),
  0 0 70px rgba(200, 0, 255, 0.5),
  0 0 80px rgba(200, 0, 255, 0.5);
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.profile-content{
  width: 100%;
  grid-area: 0,0,1,1;
  display: flex;
  flex-direction: column;
}

.avatar-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.avatar-img{
  margin-top: 50px;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  box-shadow: 0 -10px 30px rgba(255, 255, 255);
}

.description-profile {
  color: white;
  font-size: 24px;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.profile-info{
  width: 100%;
}

.info{
  color: white;
  list-style-type: georgian;
  animation: line 2.5s;
  animation-iteration-count: infinite;
  font-size: 20px;
  width: 300px;
  margin:20px auto 0;
  font-weight: bold;
}

@keyframes line {
  0% { color: red; }
  10% { color: orange; }
  20% { color: yellow; }
  30% { color: green; }
  40% { color: blue; }
  50% { color: indigo; }
  60% { color: violet; }
  70% { color: red; }
  80% { color: orange; }
  90% { color: yellow; }
  100% { color: green; }
}

.info>li{
  display: flex;
  justify-content: space-between;
}

.links-content {
  grid-area: 0,1,1,2;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px;
  justify-content: center;
}

.link{
  border: 5px solid white;
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
  width: 350px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
  transition: 0.3s ease;
}
.link:hover{
  transition: 0.3s;
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.9);
  transform: scale(1.05);
}

.link-img{
  width: 40px;
  height: 40px;
  padding-right: 5px;
}

h1{
  color: white;
  padding: 20px;
  font-size: 40px;
  text-shadow: 0 0 10px rgba(255, 0, 241, 0.5),
  0 0 20px rgba(255, 0, 241, 0.5),
  0 0 30px rgba(255, 0, 241, 0.5),
  0 0 40px rgba(255, 0, 241, 0.5),
  0 0 50px rgba(255, 0, 241, 0.5),
  0 0 60px rgba(255, 0, 241, 0.5),
  0 0 70px rgba(255, 0, 241, 0.5),
  0 0 80px rgba(255, 0, 241, 0.5),
  0 0 90px rgba(255, 0, 241, 0.5),
  0 0 100px rgba(255, 0, 241, 0.5),
  0 0 110px rgba(255, 0, 241, 0.5);
}

@media only screen and (max-width: 768px) {
  .background-content {
    width: 100%;
    border-radius: 0;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }

  .profile-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .avatar-content {
    align-items: center;
  }

  .avatar-img {
    margin-top: 20px;
    width: 150px;
    height: 150px;
  }

  .description-profile {
    font-size: 18px;
  }

  .info {
    width: 70%;
  }

  .links-content {
    display: flex;
    flex-wrap: wrap;
  }

  .link {
    margin: 10px 0;
    font-size: 14px;
    height: 30px;
    width: 155px;
  }

  h1 {
    font-size: 30px;
    padding: 10px;
  }
}


