<div class="profile-container">
  <div class="profile-section">
    <img [src]="profileImageSrc" alt="Profile Image" class="profile-image">
    <h2>{{ profileName }}</h2>
    <div class="highlights">
      <span *ngIf="isPro">PRO</span>
    </div>
    <!-- Добавляем дополнительную информацию с использованием переменных -->
    <div class="profile-details">
      <p><strong>Phone: </strong> <a href="javascript:void(0);" (click)="callPhoneNumber()">{{ phoneNumber }} 📞</a></p>
      <p><strong>Country: </strong> {{ country }} 🌎</p>
      <p><strong>Email: </strong> <a href="javascript:void(0);" (click)="sendEmail()">{{ email }} ✉️</a></p>
      <p><strong>Education: </strong> {{ education }} 📚</p>
      <!-- Добавьте другие переменные по желанию -->
    </div>
  <!-- Остальная разметка и данные -->
</div>

<div class="content-section">
    <div class="about-me container-info">
      <h3>About Me</h3>
      <p>{{ aboutMeText }}</p>
    </div>

    <div class="what-i-do container-info">
      <h3>What I Do</h3>
      <p>{{ whatIDoText }}</p>
      <ul>
        <li *ngFor="let skill of skills">{{ skill }}</li>
      </ul>
    </div>

    <div class="connect-with-me container-info">
      <h3>Connect With Me</h3>
      <p>{{ connectWithMeText }}</p>
      <ul>
        <li *ngFor="let platform of socialMedia">{{ platform }}</li>
      </ul>
      <p>{{ moonText }}</p>
    </div>
  </div>
</div>
