<body>
<div class="resume-container">
  <div class="header">
    <img src="{{ personalInfo.photo }}" alt="{{ personalInfo.name }}" width="100">
    <div>
      <h1>{{ personalInfo.name }}</h1>
      <p><a href="mailto:{{ personalInfo.email }}">{{ personalInfo.email }}</a></p>
      <p><a href="https://github.com/{{ personalInfo.github }}">GitHub: {{ personalInfo.github }}</a></p>
    </div>
  </div>

  <div class="sections">
    <!-- Контейнер для Опыта/Учёбы -->
    <div class="section">
      <div class="section-title">Doświadczenia</div>
      <!-- содержимое раздела опыт/учёба -->
      <ul>
        <li>HTML & CSS</li>
        <li>JS</li>
        <li>JAVA</li>
      </ul>
    </div>

    <!-- Контейнер для Знаний -->
    <div class="section">
      <div class="section-title">Projekty</div>
      <!-- содержимое раздела знаний -->
      <li>Google</li>
      <li>IOS</li>
      <li>Minecraft</li>
    </div>

    <!-- Контейнер для Описания -->
    <div class="section">
      <div class="section-title">Informacja</div>
      <!-- содержимое раздела описание -->
      <p>My name is Niki.</p>
    </div>

    <!-- ...другие контейнеры -->
  </div>
</div>
</body>
