.container-info {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #61DAFB;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-container {
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  background-color: #20232A;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #61fbae;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-details p {
  margin: 8px 0;
}

.profile-details a {
  text-decoration: none;
  color: #007BFF; /* Цвет ссылок */
}

.profile-details a:hover {
  text-decoration: underline;
}


.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 20px;
}

.profile-image {
  width: 200px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.highlights {
  min-width: 50%;
  max-width: 100%;
  display: flex;
  justify-content: space-around;
}

.highlights span {
  background-color: #61DAFB;
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 10px;
}

.content-section {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* Стили для списка социальных ссылок */
.social-list {
  list-style-type: none;
  display: flex;
  padding: 0;
}

/* Стили для каждой ссылки в списке */
.social-list li {
  margin-right: 10px; /* Добавьте отступ между кнопками */
}

/* Стили для кнопок-ссылок */
.social-link {
  text-decoration: none;
  background-color: #007BFF; /* Цвет фона */
  color: white; /* Цвет текста */
  padding: 8px 12px; /* Отступы вокруг текста */
  border-radius: 4px; /* Скругленные углы */
  transition: background-color 0.2s ease; /* Плавное изменение цвета при наведении */
}

.social-link:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .profile-container {
    flex-direction: column;
    align-items: center;
    width: 90%;
  }

  .profile-details {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  .profile-details p {
    margin: 5px 0;
  }

  .profile-section {
    width: 100%;
    text-align: center;
  }

  .profile-details {
    width: 100%;
  }

  .content-section {
    width: 100%;
  }


  .social-list {
    flex-wrap: wrap;
    justify-content: center;
  }
}
