/* Основные стили для блоков .container-info */
.container-info {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #61DAFB;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-container {
  display: flex;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
  background-color: #20232A;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-details {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #61DAFB;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-details p {
  margin: 8px 0;
}

.profile-details a {
  text-decoration: none;
  color: #007BFF; /* Цвет ссылок */
}

.profile-details a:hover {
  text-decoration: underline;
}


.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  padding: 20px;
}

.profile-image {
  width: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.highlights span {
  background-color: #61DAFB;
  padding: 5px 10px;
  border-radius: 4px;
  display: inline-block;
  margin-top: 10px;
}

.content-section {
  display: flex;
  flex-direction: column;
  width: 70%;
  padding: 20px;
}

ul {
  list-style-type: disc;
  padding-left: 20px;
}

/* Для уменьшения контейнера на маленьких экранах добавим медиа-запрос */

@media (max-width: 768px) {
  .profile-container {
    width: 100%;
    flex-direction: column;
  }
  .profile-section, .content-section {
    width: 100%;
  }
}
body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Скрываем полосу прокрутки */
}

#stars-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Позволяет видео заполнять весь экран без искажения */
  z-index: -1; /* Размещаем видео за всеми остальными элементами */
}
