footer {
    height: 400px;
    width: 100%;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
}

footer>img {
    width: 400px;
    height: 300px;
    margin: 20px;
    transition: 0.3s ease;
    position: relative;
    top: -50px;
    left: 15%;
}

footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 300px;
}

@media (max-width: 768px) {
    footer {
        width: 100%;
        padding-top: 30px;
    }
    footer>img {
        width: 300px;
        height: 200px;
        left: -70%;
        top: 0px;
    }
    footer div {
        z-index: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 320px
    }
}