footer {
    height: 690px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background: #ff0045;
}

.wave {
    background: url(.) repeat-x;
    position: relative;
    width: 6400px;
    top: -198px;
    left: 0;
    height: 198px;
    transform: translate(0, 0);
    animation: wave 7s ease infinite;
}

@keyframes wave {
    0% { margin-left: 0; }
    100% { margin-left: -1600px;}
}