footer {
    height: 400px;
    width: 100%;
    background: linear-gradient(-333deg, rgba(30, 0, 0, 1) 0%, rgba(70, 0,0, 1) 100%);
    display: flex;
    justify-content: center;
    box-shadow: 0 0 50px rgb(60, 0, 0);
}

footer>img {
    width: 400px;
    height: 300px;
    margin: 20px;
    transition: 0.3s ease;
    position: relative;
    top: -50px;
    left: 15%;
}

footer div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 300px;
    margin-top: 50px;
    z-index: 1;
}

@media (max-width: 768px) {
    footer {
        width: 100%;
        padding-top: 30px;
    }
    footer div {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 320px
    }
    footer>img {
        width: 240px;
        height: 200px;
        left: -300px;
        top: 0px;
    }
}