.skill {
    width: 480px;
    height: 420px;
    color: #FFFFFF;
    box-shadow: 0 0 81px rgb(255,0,59,0.5);
    border-radius: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #131313;
}
.skill img {
    width: 151px;
    height: 151px;
    background-size: cover;
    transition: 0.3s ease;
}
.skill img:hover {
    transform: translateY(-10px);
}
.skill h2 {
    font-size: 27px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 0;
}
.skill p {
    font-size: 21px;
    text-align: center;
    font-weight: lighter;
    width: 360px;
    line-height: 31px;
}